.search{width:100%;padding:20px 0}
.s-input{border-right:0;border-radius:4px 0 0 4px;}
.am-selected-btn{border-color:#ff9900;border-radius:0;padding:0.53em 1em;outline:none!important;}
.am-btn-default:focus, .am-btn-default:hover, .am-dropdown.am-active .am-btn-default.am-dropdown-toggle{border-color:#ff9900;background-color:#eee;}
.start{float:right;margin-top:-38px}
html body #player{margin-bottom:.3em;height:548px!important;width:100%;border:2px solid #ff990099;border-radius:10px}
@media only screen and (max-width:640px) {
html body #player{margin-bottom:.3em;height:248px!important;width:100%;border:2px solid #ff990099;border-radius:10px}
}